
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//phantom-0osipoju.myshopify.com/cdn/fonts/roboto/roboto_n4.2019d890f07b1852f56ce63ba45b2db45d852cba.woff2") format("woff2"),
       url("//phantom-0osipoju.myshopify.com/cdn/fonts/roboto/roboto_n4.238690e0007583582327135619c5f7971652fa9d.woff") format("woff");
}



  @font-face {
  font-family: Alegreya;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_n4.9d59d35c9865f13cc7223c9847768350c0c7301a.woff2") format("woff2"),
       url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_n4.a883043573688913d15d350b7a40349399b2ef99.woff") format("woff");
}

  @font-face {
  font-family: Alegreya;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_n5.c8117fcafde40aec574fccc47c714183c67f21d2.woff2") format("woff2"),
       url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_n5.e801e4581609b8be8eafbd913614dbf5dee5e150.woff") format("woff");
}

  @font-face {
  font-family: Alegreya;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_n7.94acea1149930a7b242e750715301e9002cdbb09.woff2") format("woff2"),
       url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_n7.44924b4ad31cd43b056fd2b37a197352574886fd.woff") format("woff");
}

  @font-face {
  font-family: Alegreya;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_i4.8dee6f2ed2ce33b7dc66259131d71ed090011461.woff2") format("woff2"),
       url("//phantom-0osipoju.myshopify.com/cdn/fonts/alegreya/alegreya_i4.f1e64827a79062bc46c078ea2821c6711f0f09ad.woff") format("woff");
}


 
:root {--bs-primary: #000000;
  --bs-primary-rgb: 0, 0, 0;
  --bs-secondary: #455A64;
  --bs-secondary-rgb: 69, 90, 100;
  --bs-body-bg: #FFFFFF;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;

  --bs-container-max-width: 1350px;
  --bs-border-radius: 0.3rem;

  --bs-body-font-family: Alegreya, serif;
  --bs-body-font-weight: 400;
  --bs-body-font-size: rem;
  --bs-headings-font-family: Roboto, sans-serif;
  --bs-headings-font-weight: 400;
  --bs-headings-text-transform: uppercase;

  --bs-dialog-backdrop-color-rgb: 33, 37, 41;
  --bs-dialog-backdrop-opacity: 50%;
  --bs-dialog-backdrop-blur: 5px;
  --bs-dialog-backdrop-blur: 5px;
  --bs-dialog-header-bg-color-rgb: var(--bs-secondary-rgb);
  --bs-dialog-header-bg-opacity: 5%;
  --bs-dialog-header-text-color: body-color;
  --bs-dialog-header-border-width: 1px;
  --bs-dialog-header-border-color-rgb: var(--bs-secondary-rgb);
  --bs-dialog-header-border-opacity: 10%;
  --bs-dialog-header-title-font-size: 1.3em;

  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
  --bs-box-shadow-md: 0 0.25rem 0.5rem rgba(var(--bs-body-color-rgb), 0.125);
  --bs-box-shadow-lg: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), 0.175);
  --bs-focus-box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .125);
  --bs-box-shadow: var(--bs-box-shadow-md);
}.btn {
  --bs-btn-font-size: 1rem;
  --bs-btn-text-transform: none;
  --bs-btn-font-family-new: var(--bs-body-font-family);
  --bs-btn-font-weight: 500;
  --bs-btn-letter-spacing: 0.05rem;
  --bs-btn-bg-gradient: var(--bs-gradient);
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.3rem;
}.form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFFFFF'/%3e%3c/svg%3e");
}
